<div>
  <mat-toolbar>
    <mat-toolbar-row fxShow="true" fxShow.gt-sm="false">
        <span class="title" fxLayoutAlign="center center" fxFlex="100" >Watch Exchange</span>
    </mat-toolbar-row>
    <mat-toolbar-row class="actions" ngClass.gt-sm="actions-gt-sm">
      <span class="title" fxFlex.gt-sm="25" fxHide="true" fxShow.gt-sm="true">Watch Exchange</span>
  
      <mat-form-field fxFlex.gt-sm="50" fxFlex="100">
          <input matInput #filter (keyup.enter)="applyFilter(filter.value)" type="text" />
          <button mat-button matSuffix mat-icon-button (click)="applyFilter(filter.value)"> 
            <mat-icon>search</mat-icon>
          </button>
          <button mat-button matSuffix mat-icon-button (click)="applyFilter()"> 
            <mat-icon>close</mat-icon>
          </button>
      </mat-form-field>
    </mat-toolbar-row>
  </mat-toolbar>

  <div class="photos" fxLayout="row" cdk-scrollable>
    <div *ngFor="let column of columns" [fxFlex]="calcWidth()" fxLayout="column" fxLayoutAlign="none stretch" fxFill>
        <app-post-column [posts]="column"></app-post-column>
    </div>
  </div>

  <div class="footer" fxLayout="row" fxLayoutAlign="center center">
      <div *ngIf=isLoading>
        <mat-progress-spinner
          color="primary"
          mode="indeterminate"
          [diameter]="32">
        </mat-progress-spinner>
      </div>
      <div *ngIf="!hasMore">No More Results</div>
      <button 
        fxFlex="20"
        mat-stroked-button 
        color="primary"
        *ngIf="hasMore && !isLoading"  
        (click)="loadMore(filter.value)">Load More</button>
  </div>
</div>
