.photos {
    line-height: 0;
    
    mat-toolbar {
        position: sticky;
        top: 0;
        z-index: 100;
    }
}

.title {
    font-weight: bold;
    text-transform: uppercase;
}

.mat-toolbar-row {
    background: #F2F2F2;
    color: #2F3540;
}

.footer {
    margin: 10px 0px;
}

