.photos {
    line-height: 0;
    
}

.title {
    font-weight: bold;
    text-transform: uppercase;
}

// .actions {
//     background: inherit;
//     position: fixed;
//     z-index: 100;
// }

// .actions-gt-sm {
//     margin-top: 0px;
// }