.photos {
    line-height: 0;
    
}

.title {
    font-weight: bold;
    text-transform: uppercase;
}

.mat-toolbar-row {
    background: #F2F2F2;
    color: #2F3540;
}

.footer {
    margin: 10px 0px;
}

